# Binaries
bin/
*.exe
*.dll
*.so
*.dylib
*.

# Test files
*.test
*.out
coverage.out

# Environment files
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
tmp/
temp/


# ignore debug
__debug_bin*